* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
}

.hiding-scrollbar::-webkit-scrollbar {
  display: none;
}

#cursor {
  height: 2vw;
  width: 2vw;
  border: 1.5px solid white;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  padding: 20vh 10vw;
  position: fixed;
  z-index: 99;
}

.loader .line {
  display: flex;
  gap: 2vw;
  align-items: center;
  /* justify-content: center; */
  height: fit-content;
  overflow: hidden;
}

.loader h1 {
  font-family: "Plain Regular";
  text-transform: uppercase;
  font-size: 6.5vw;
}

.loader .line h2 {
  display: flex;
}

.loader .please-wait {
  height: 6.5vw;
  /* width: 6.5vw; */
  font-family: "Poppins";
  display: flex;
  align-items: end;
  justify-content: center;
}

.loader .please-wait h6 {
  font-size: 10px;
}

.loader .line h2 {
  margin-left: 10vw;
  padding-top: 1.3vw;
  font-size: 2.5vw;
  font-family: "Silk Serif";
  font-weight: 100;
}

.loader .line h2 #timer {
  width: 50px;
  /* margin-right: 10px; */
  text-align: right;
}

#hifen {
  margin: 0 2px;
  text-align: center;
}

.loader .line #now {
  font-family: "Plain Light";
  font-size: 5vw;
  animation-duration: 1s;
  animation-delay: 0.05s;
  animation-iteration-count: infinite;
}

@keyframes nowanime {
  0% {
    font-family: "Plain Light";
    opacity: 1;

    -webkit-text-stroke: 1px WHITE;
    color: WHITE;
  }
  45% {
    font-family: "Plain Light";
    opacity: 0;

    -webkit-text-stroke: 1px WHITE;
    color: WHITE;
  }
  50% {
    font-family: "Silk Serif";
    opacity: 1;

    -webkit-text-stroke: 1px WHITE;
    color: black;
  }
  95% {
    font-family: "Silk Serif";
    opacity: 1;

    -webkit-text-stroke: 1px WHITE;
    color: black;
  }
  100% {
    font-family: "Plain Light";
    opacity: 0;

    -webkit-text-stroke: 1px WHITE;
    color: WHITE;
  }
}

main {
  position: relative;
  background-color: #000;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #222;
}

.page1 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw 6vw;
}

.page1 nav .nav-part2 {
  display: flex;
  gap: 30px;
  font-family: "Poppins";
  font-family: "Plain Light";
  font-size: 1.1vw;
  font-weight: 200;
}

.page1 .hero {
  width: 73%;
  margin-left: 27%;
  position: relative;
  height: fit-content;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 99999;
}

.page1 .hero:nth-child(2) {
  margin-top: 5vw;
}

.page1 .hero h1 {
  font-family: "Plain";
  font-size: 6vw;
  font-weight: 600;
  text-transform: uppercase;
}

.page1 #hero3 {
  display: flex;
}

.page1 #hero3 h2 {
  font-family: "Plain";
  font-size: 6vw;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 5px solid white;
  -webkit-text-stroke: 1px black;
  transition: all ease 0.1s;
}

.page1 #hero3 h2:hover {
  -webkit-text-stroke: 1px white;
  color: black;
  border-bottom: 5px solid transparent;
}

/* 
.page1 #hero3 .container h2:hover {
  -webkit-text-stroke: 1px white;
  font-family: "Plain";
  color: black;
  font-size: 6vw;
  text-transform: uppercase;
  border-bottom: 5px solid transparent;
} */

/* 
.page1 #hero1::before {
  content: "01";
  font-family: "Silk Serif";
  font-size: 3.5vw;
  position: absolute;
  left: -10%;
  top: 4.5%;
  color: #ddd;
  
} 

.page1 #hero4::before {
  content: "Scroll";
  font-family: "Plain";
  font-size: 1vw;
  position: absolute;
  left: -28%;
  top: 68%;
  color: #ccc;
  
} */
